.group {
    position: relative;
    display: block;
    width: 100%;
    font-family: LetoSans, sans-serif;
}

.input {
    height: 56px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #EDE8F7;
    padding: 10px 15px 5px;
    transition: all 0.3s;
    outline: none;

    color: #1D1539;
    font-family: LetoSans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .label {
        font-size: 14px;
        cursor: text;
        top: 20px;
        left: 15px;
    }
}

.label {
    position: absolute;
    top: 5px;
    left: 15px;
    display: block;
    transition: 0.2s;
    font-size: 10px;
    color: #9b9b9b;
}

.input:focus {
    ~ .label {
        position: absolute;
        top: 5px;
        left: 15px;
        display: block;
        transition: 0.2s;
        font-size: 10px;
    }
}

.errorImg {
    position: absolute;
    top: 16px;
    right: 10px;
}

.error {
    border: 2px solid #F8478D;
}

.errorMessage {
    color: #F8478D;
}

.success {
    border: 2px solid #13C98A;
}