.group {
    position: relative;
    display: block;
    width: 100%;
    font-family: LetoSans, sans-serif;
}

.notification {
    position: absolute;
    padding: 10px 15px;
    background: #333333;
    color: #fff;
    border-radius: 6px;
    font-size: 12px;
    top: -45px;
}

.notification:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333333;
    border-bottom: 10px solid transparent;
    left: 10%;
    top: 30px;
}

.input {
    height: 56px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #EDE8F7;
    padding: 12px 13px 0;
    transition: all 0.3s;
    outline: none;

    color: #1D1539;
    font-family: LetoSans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .label {
        font-size: 14px;
        cursor: text;
        top: 20px;
        left: 15px;
    }
}

.input:hover {
    border-color: #C0BAD5;
}

.label {
    position: absolute;
    top: 8px;
    left: 15px;
    display: block;
    transition: 0.2s;
    font-size: 10px;
    color: #9b9b9b;
}

.input:focus {
    ~ .label {
        position: absolute;
        top: 8px;
        left: 15px;
        display: block;
        transition: 0.2s;
        font-size: 10px;
    }
}

.img {
    position: absolute;
    top: 16px;
    right: 10px;
}

.error {
    border: 2px solid #F8478D;
}

.error:hover {
    border: 2px solid #F8478D;
}

.errorMessage {
    color: #F8478D;
}

.success {
    border: 2px solid #13C98A;
}
.success:hover {
    border: 2px solid #13C98A;
}