.wrapper {
    padding: 88px 72px;
    font-family: LetoSans, sans-serif;
    height: 100vh;
}

.formBlock {
    font-size: 16px;
    font-weight: 400;
}

.dataWrapper {
    margin-top: 20px;
}

.email {
    margin-top: 10px;
}

.theme {
    margin-top: 10px;
}

.emptyForm {
    margin-top: 20px;
}