.container {
    position: relative;
    min-width: 300px;
    min-height: 56px;
    border-radius: 6px;
    border: 2px solid #EDE8F7;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 10px;
    color: #9B99AA;
    font-family: LetoSans, 'sans-serif';
}

.container:hover {
    border: 2px solid #C0BAD5;
}

.container.show {
    border-radius: 6px 6px 0 0;
    color: #1D1539;
    border: 2px solid #C0BAD5;
}

.value {
    flex-grow: 1;
    font-size: 14px;
    padding-top: 15px;
    color: #1D1539;
}

.options {
    margin: 0;
    list-style: none;
    display: none;
    border: solid #EDE8F7;
    border-width: 1px 2px;
    border-radius: 0 0 6px 6px;
    background: #FFF;
    position: absolute;
    top: calc(100%);
    left: -2px;
    width: 101%;
    z-index: 10;
    font-size: 14px;
}

.options.show {
    display: block;
    border: 2px solid #C0BAD5;
}

.option {
    height: 40px;
    padding: 5px 10px;
    border-top: 1px solid #EDE8F7;
    display: flex;
    align-items: center;
}

.option.highlighted {
    background-color: #F8F7FA;
}

/*.option.selected {*/
/*    background-color: #f1eeff;*/
/*}*/

.arrow {
    width: 9px;
    height: 9px;
    border-right: 1px solid #202020;
    border-bottom: 1px solid #202020;
    border-image: initial;
    border-top: transparent;
    border-left: transparent;
    transform: rotate(45deg);
}
.arrow.show {
    transform: rotate(225deg);
    margin-top: 8px;
}

.label {
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s;
}

.label.show {
    font-size: 10px;
    top: 8px;
}

.label.highlighted {
    font-size: 10px;
    top: 8px;
}